
<mat-toolbar color="primary">
  <button mat-icon-button [routerLink]="['numberconverter']">
    <mat-icon class="menu-icon">123</mat-icon>
  </button>
  <button mat-icon-button [routerLink]="['playgameoflife']">
    <mat-icon>sports_esports</mat-icon>
  </button>
  <button mat-icon-button [routerLink]="['listcustomers']">
    <mat-icon>group</mat-icon>
  </button>
  <button mat-icon-button [routerLink]="['listproducts']">
    <mat-icon>lunch_dining</mat-icon>
  </button>
  <button mat-icon-button [routerLink]="['listorders']">
    <mat-icon>shopping_cart</mat-icon>
  </button>
</mat-toolbar>
