<mat-card align="end" class="d-flex justify-content-end">
  <button mat-icon-button color="primary" [routerLink]="['/registerproduct']">
    <mat-icon>add_circle</mat-icon>
  </button>
</mat-card>

<div class="container">
  <mat-card>
    <table class="table table-striped table-bordered" *ngIf="products.length > 0">
      <thead class="table-header">
      <tr>
        <th>Nome do Produto</th>
        <th>Preço</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of products">
        <td>{{product.name}}</td>
        <td>R${{product.price}}</td>
      </tr>
      </tbody>
    </table>
  </mat-card>
</div>
